* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    background: white
    backg
}
body::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    background: #1f76ac;
    background-position: center;
}
nav {
    position: fixed;
    padding: 25px 60px;
    z-index: 1;
}

.form-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 32px;
    padding: 20px;
    width: 1200px;
    height: 900px;
    transform: translate(-50%, -50%);
    background: white
}
@media (max-width: 740px) {
    body::before {
        display: none;
    }
    nav, .form-wrapper {
        padding: 20px;
    }
    nav a img {
        width: 140px;
    }
    .form-wrapper {
        width: 100%;
        top: 43%;
    }
    .form-wrapper form {
        margin: 25px 0 40px;
    }